<div class="container">
    <h1 class="title">
        Checkout
    </h1>
    <div *ngFor=" let item of cartItems; " class=" row">

        <div class="row checkout-item-container">
            <div class="col-md-10">

                <h5 class="item-name"> {{item.name}}</h5>

                <p class="item-quantity">x{{item.quantity}}</p>


                <p class="item-price"> {{item.price}} EGP</p>

            </div>
            <div class="col-md-2">
                <img [src]="item.img" class="img-responsive" />
            </div>
        </div>


    </div>


    <div style="text-align:center">
        <button type="button" class="btn btn-primary checkout-btn" (click)="checkout()"> Checkout</button>
    </div>
</div>