<div class="container">
    <h1 class="title">
        Checkout
    </h1>
    <div class="item-list">
        <div *ngFor=" let item of cartItems; " class="card mb-3 checkout-item-container">
            <div class="grid-container">
                <div class="item">
                    {{item.name}}
                </div>

                <div class="item-quantity">
                    {{item.quantity}}
                </div>
                <div class="item-price">
                    {{item.price}}
                </div>

            </div>
        </div>

    </div>
    <div style="text-align:center">
        <button type="button" class="btn btn-primary checkout-btn" (click)="checkout()"> Checkout</button>
    </div>
</div>