<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="loginForm">
            <div class="form-group">
                <input class="form-control" placeholder="Username" type="text" id="username" formControlName="username" />
                <span class=" help-block" *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
                    <span *ngIf="loginForm.get('username').errors['required']">This field is required!</span>
                </span>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Passsword" id="password" type="password" minlength="6" maxlength="25" formControlName="password"
                />
                <span class=" help-block" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                    <span *ngIf="loginForm.get('password').errors['required']">This field is required!</span>
                    <span *ngIf="loginForm.get('password').errors['passwordLengthIncorrect']">Password must be between 8 to 25 characters long</span>

                </span>

            </div>


            <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>



        </form>
        <p> Don't have an account?
            <a href="signup">Signup now!</a>
        </p>
    </div>
</div>